{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class='row'>
    <div class='col-3'>
        <span>유보율 : {{stock.유보율|intcomma|default:"" }} %</span>
    </div>    
    <div class='col-3'>
        <span>부채비율 : {{stock.부채비율|intcomma|floatformat:2|default:""}} %</span>   
    </div>
    <div class='col-3'>
        <span>상장주식수 : {{stock.상장주식수|intcomma|default:""}}  </span>
    </div>
    <div class='col-3'>
        <span>유동주식수 : {{stock.유동주식수|intcomma|default:""}}</span>
    </div>
</div>
<div class='row'>
    <div class='col-3'>
        액면가 : {{stock.액면가|intcomma}}   
    </div>
    <div class='col-3'>
        현금가 : {{stock.현금가 |intcomma}}
    </div>
     <div class='col-3'>
        {% if chartvalue.ticker.theme_set %}
            <span> theme </span>
            {% for theme in chartvalue.ticker.theme_set.all %}
                <span> {{theme.name}}</span>
            {% endfor %} 
        {% endif %}
    </div> 
</div>
<div class="row">
    {{ plot_div|safe }}    
</div>


{% endblock content %}