<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <div style="display: flex;">
        <div style="width: 30%;">
            <form method="get">
                <h3>조건 선택</h3>
                <label><input type="checkbox" name="condition" value="조건1"> 조건1</label><br>
                <label><input type="checkbox" name="condition" value="조건2"> 조건2</label><br>
                <button type="submit">필터 적용</button>
            </form>
            <h3>아이템 리스트</h3>
            {% comment %} {{ items }}
            {% for item in items %}
                <p> {{item.code}}  {{item.name}}  </p>
            {% endfor %} {% endcomment %}

            <ul>
                {% for item in items %}
                    <li> <a href="{% url 'dashboard:detail' item.code %}"> {{ item.name }} </a> </li>
                {% endfor %}
            </ul> 
        </div>
        <div style="width: 70%;">
            <h3>상세 정보</h3>
            <!-- 여기에 상세 정보가 표시될 자리 -->
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>