<!-- item_list.html -->
{% load django_bootstrap5 %}
<div class="row">
    <div class="col-md-6">
        <form method="get">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    {% if not "slider" in field.label %}
                        <input type="checkbox" class="btn-check sm" style="width:100%" id="{{ field.id_for_label }}" name="{{ field.name }}" {% if field.value %}checked{% endif %} autocomplete="off">
                        <label class="btn btn-outline-primary" for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                    {% else %}
                        <input type="range" class="form-range" id="{{ field.id_for_label }}" name="{{ field.name }}"
                            min="{{ field.min_value }}" max="{{ field.max_value }}" 
                            value="{{ field.value|default:30 }}" class="form-control-range">
                            <span id="rangeValue-{{ field.id_for_label }}" class="range-value">{{ field.value|default:30 }}</span> <!-- Range 값 표시 -->
                        <label for="{{ field.id_for_label }}" class="form-label"></label>
                        <style>
                            .form-range {
                                width: 100%; /* Range의 너비를 100%로 설정 */
                            }
                            .btn {
                                width: 100%; /* 버튼의 너비를 100%로 설정 */
                            }
                            .range-value {
                                margin-top: 10px; /* 값 표시를 위한 여백 */
                                font-weight: bold; /* 값 강조 */
                            }
                        </style>
                    {% endif %}
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-danger my-2">검색</button>
        </form>


        <script>
            // 모든 range 입력에 대해 이벤트 리스너 추가
            document.querySelectorAll('.form-range').forEach(function(input) {
                const rangeValueSpan = document.getElementById('rangeValue-' + input.id);
                
                // 초기 값 설정
                rangeValueSpan.textContent = input.value;

                // 슬라이더의 값이 변경될 때마다 업데이트
                input.addEventListener('input', function() {
                    rangeValueSpan.textContent = this.value; // 현재 슬라이더 값 업데이트
                });
            });
        </script>
        <h5> ({{chartvalues|length}})</h5>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="list-group">
                {% for chartvalue in chartvalues %}
                <div class="card">
                                    

                        {% comment %} <a href="#" hx-get="{% url 'dashboard:chart' item_code=chartvalue.ticker.code %}" hx-target="chart-part" hx-swap="innerHTML">    {% endcomment %}
                        <a href="#" hx-get="{% url 'dashboard:chart' item_code=chartvalue.ticker.code %}" hx-target="#chart-part" hx-swap="innerHTML">   
                            <div class="card-body">
                                <h5 class="card-title">{{chartvalue.ticker.name}}({{chartvalue.ticker.code}})</h5>
                                <p class="card-text">성장율: {{chartvalue.growth_y1}}%</p>
                            </div>
                        </div>
                </a>
                {% empty %}
                    <div class="col-12">
                        <div class="alert alert-warning">조건에 맞는 항목이 없습니다.</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% comment %} 
 <!-- 페이지네이션 -->
 <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 처음</a>
            <a href="?page={{ page_obj.previous_page_number }}">이전</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">다음</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">마지막 &raquo;</a>
        {% endif %}
    </span>
</div> {% endcomment %}
<script>
    // 슬라이더와 현재 값을 업데이트하는 스크립트
    const slider = document.getElementById('{{ form.slider.id_for_label }}');
    const sliderValue = document.getElementById('sliderValue');

    slider.oninput = function() {
        sliderValue.innerHTML = this.value;  // 슬라이더의 현재 값을 업데이트
    }
    function updateSliderValue(value) {
        document.getElementById('sliderValue').innerHTML = value;  // 슬라이더의 현재 값을 업데이트
    }
</script>
