{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SeanStock{% endblock %}</title>
    
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>

     <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 60px;
        }
        .auth-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand navbar-dark bg-primary fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">Home</a>
                <div class="navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:profile' %}">{{ user.username }} ({{ user.date_joined|date:"Y-m-d" }})</a>  
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
                            </li>
                            {% comment %} <li class="nav-item">
                                <a class="nav-link"  href="{% url 'accounts:signup' %}" >회원가입</a>
                            </li> {% endcomment %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        {% comment %} <div class="auth-container"> {% endcomment %}
            {% block content %}
            {% endblock %}
        {% comment %} </div> {% endcomment %}
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <!-- Optional: Flash messages -->
    {% if messages %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                alert('{{ message }}');
            {% endfor %}
        });
    </script>
    {% endif %}
</body>
</html>
